<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="loginModalLabel">Вход</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="/login_user" method="POST" autocomplete="off">
        <div class="modal-body">
          {% csrf_token %}
          
          <div class="input-group mb-3 mt-3">
            <span class="input-group-text"><i class="bi bi-person"></i></span>
            <input type="text" class="form-control" name="username" placeholder="Имя пользователя">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-key"></i></span>
            <input type="password" class="form-control" name="password" placeholder="Пароль">
          </div>
        </div>
        <div class="modal-footer">
          <button type="reset" class="btn light-btn" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn green-btn">Войти</button>
        </div>
      </form>
    </div>
  </div>
</div>