<form><div class="row g-0 pb-3">
  <div class="card shadow px-2 py-2">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 pb-3 pb-sm-0">
        <label class="form-label">Семейство</label>
        {{form.semeystvos}}
      </div>

      <div class="col-12 col-sm-6 col-md-4 pb-3 pb-md-0">
        <label class="form-label">Группа</label>
        {{form.gruppis}}
      </div>
  
      <div class="col-12 col-md-4 align-self-end">
        <div class="d-grid gap-2 d-md-flex">
          <button type="submit" class="btn green-btn col searchbtn">Применить</button>
          <button type="reset" class="btn light-btn col">Сбросить</button>
        </div>
      </div>
      
    </div>
  </div>
</div></form>